#outlookHeader {
    width: 100%;
}

#fiveDays {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#curTempColor {
    text-shadow: 0 0 4px #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: dimgray;
}